<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    {% extends 'teacherhome.html'%}
    {% block content %}
    <section class='quiz'> 
        <h1>Set Decks</h1>
        {% for deck in decks %}
        <form action="{{ url_for('quiz.homeworkdeck') }}" method="POST">
            <button type="submit" name="deck_id" value="{{ deck[0] }}">{{ deck[2] }} - {{ deck[1] }}</button> 
        </form>
        {% endfor %}
    </section>
    {% endblock %}
</body>
</html>
