<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Study</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    {% extends 'base.html'%}
    {% block content %}
    <section class="study">

        <div class="card">
            <p>{{ card[side] }}</p>
        </div>

        <div class="flip">
            <form action="{{ url_for('study.flipcard') }}" method="POST">
                <input type="submit" name="flip" value="flip">
            </form>
        </div>

        <div class="next">
            <form action="{{ url_for('study.nextcard') }}" method="POST">
                <input type="submit" name="next" value="next">
            </form>
        </div>
        
    </section>
    {% endblock %}
</body>
</html>
