<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    {% extends base_template %}
    {% block content %}

    <section class="study">
        <h1>Account Settings</h1>
        <h4>Reset Password</h4>
        <form action='/resetpassword' method="POST">
            <input type="password" name="current_password" placeholder="Current Password">
            <input type="password" name="new_password" placeholder="New Password">
            <input type="submit" name="submit">
        </form>
        <p>{{ message }}</p>
    </section>
    {% endblock %}
</body>
</html>
